/* Начинаем формировать основной стилевой файл*/

/* 1) Просмотрим макет, выпишем все используемые цвета и определим их в кастомные свойства */

/* Variables */


:root {


  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-black-opacity-03: rgba(0, 0, 0, 0.3);

  --dark-gray: #888888;
  --box-shadow-color: rgba(0, 1, 1, 0.15);
  --darker-gray: #EBEBEB;
  --basic-gray: #eeeeee;
  --lighter-gray: #F2F2F2;
  --increase-decrease-gray: #A9A9A9;
  --inner-shadow-gray: #E5E5E5;
  --gray-for-rating: #666666;

  --basic-white: #ffffff;
  --basic-white-opacity-03: rgba(255, 255, 255, 0.3);
  --basic-white-opacity-09: rgba(255, 255, 255, 0.9);

  --the-darkest-blue: #5496BD;
  --darker-blue: #669EC0;
  --special-blue: #81B3D2;

  --the-darkest-brown: #503E33;
  --darker-brown: #604E43;
  --basic-brown: #766357;
}

/* Добавим общие стили для страницы. Для <body> обнулим отступы, так как они не нужны (эти формулировки взяты из демки). Укажем параметры шрифта. */

/* Global */

body {
  min-width: 1200px;
  height: 2762px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-dark);
  text-transform: uppercase;
  background-color: var(--lighter-gray);
  background-position: top center;
  background-repeat: no-repeat;
  /* этого правила в демке не было, решил добавить , т.к. в основном текст в макете отцентрован. Есть сомнения в правильности такого решения... */
  text-align: center; /* ОТСЕБЯТИНА */
}

/* Отцентруем все блоки на странице */
.content-wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
}

.page {
  height: 100%;
}

.page-body {
  height: 2762px;
  min-height: 100%;
}

/* У ссылок уберём подчёркивание, так как подчёркивания нет во всём проекте, кроме пары мест. */

a {
  text-decoration: none;
  font-weight: bold;
}

/* Сделаем общую сетку для крупных блоков и разместим их в ней*/

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 56px 2586px 120px;
}

.header-block {
  height: 56px;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  z-index: 1;
}

.main-block {
  height: 2706px;
  grid-column: 1 / -1;
  grid-row: 2 / 4;
}

.footer-block {
  height: 120px;
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}



/* АУТЛАЙНЫ */

/*
section,
div,
nav,
form {
  outline: 5px solid blue;
  outline-offset: -5px;
}

ul {
  outline: 5px dashed red;
  outline-offset: -5px;
}

li {
  outline: 5px dashed greenyellow;
  outline-offset: -5px;
}
 */


.main-decoration-photo {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  height: 509px;
}

.text-graphics {
  margin-top: 76px;
  margin-bottom: 18px;
}

/* Chrome применяет к спискам user agent стили и появляются лишние отступы. Уберём их. */
ul {
  margin: 0;
  padding: 0;
}

/* Стилизуем текст в Навигации, добавим ему фон и уберём буллеты у элементов списка */

/* Main navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;

  display: grid;
  grid-template-rows: 56px;
}

.main-header-logo {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.site-navigation {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: 56px;
  grid-template-columns: 72px 228px 228px 144px 228px 228px 72px;
  list-style: none;
}

.site-navigation li {
  padding-top: 15px;
}

.site-navigation li:nth-child(1) {
  text-align: left;
  grid-column: 2 / 3;
}

.site-navigation li:nth-child(2) {
  text-align: left;
  grid-column: 3 / 4;
}

.site-navigation li:nth-child(3) {
  text-align: right;
  grid-column: 5 / 6;
}

.site-navigation li:nth-child(4) {
  text-align: right;
  grid-column: 6 / 7;
}

/* Пользовательская навигация */

/* User navigation */

/* в состоянии покоя */
.site-navigation a{
  color: var(--basic-black);
}

/* при наведении */
.site-navigation a:hover,
.footer-social-list a:hover{
  color: var(--special-blue);
}

/* при нажатии */
.site-navigation a:active,
.footer-social-list a:active{
  color: var(--basic-black-opacity-03);
}

/* Активная страница: здесь судя по всему требуется скрипт, чего мы пока не знаем */


/* Убираем рамку(возможную) в состоянии focus */
a:focus,
.filter-submit:focus,
input:focus,
button:focus {
  border: none;
  outline: none;
}


.main-header-wrapper {
  padding-top: 42px;
  padding-bottom: 54px;
}

/* Стилизация основного заголовка */
.main-header {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
}

/* Причины крутизны Седоны */
/* Features */

.five-reasons {
  line-height: 21px;
  margin: 0;
  margin-top: 46px;
}

.features-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px 330px 256px 256px;
  list-style: none;
}

.feature-item:nth-child(1) {
  display: flex;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.feature-item:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: baseline;
}

.feature-item:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: baseline;
}

.feature-item:nth-child(4) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  align-self: baseline;
  margin-top: 55px;
}

.feature-item:nth-child(5) {
  display: flex;
  flex-direction: row-reverse;
  grid-column: -1 / 1;
  grid-row: 3 / 4;
}

.feature-item:nth-child(6) {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  background-color: var(--basic-gray);
  padding-bottom: 54px;
}

.feature-item:nth-child(7) {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  background-color: var(--basic-gray);
  padding-bottom: 54px;
}

.feature-item:nth-child(8) {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  background-color: var(--basic-gray);
  padding-bottom: 54px;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
  margin: 0 0 25px 0;
}

.feature-one-left,
.feature-two-right{
  width: 400px;
  color: var(--basic-white);
  background-color: var(--special-blue);
  padding: 47px 10px 54px 10px;
}

.feature-one-left {
  padding: 47px 10px 54px 10px;
}

.feature-two-right {
  padding: 49px 10px 54px 10px;
}

.feature-two-left,
.feature-one-right{
  width: 800px;
}

.feature-item:nth-child(2) h3,
.feature-item:nth-child(3) h3,
.feature-item:nth-child(4) h3 {
  margin-top: 23px;
}

.feature-one-left p,
.feature-two-right p,
.feature-item:nth-child(6) p,
.feature-item:nth-child(7) p,
.feature-item:nth-child(8) p {
  margin: 0;
  padding: 0 0 23px 0;
}
.feature-item:nth-child(6),
.feature-item:nth-child(7),
.feature-item:nth-child(8) {
/* padding: 47px 51px 54px 51px; */
  padding-top: 47px;
  padding-bottom: 54px;
}

/* Hotel search */
.hotel-search {
}

/* Interested block */

.interested-block {
  padding-top: 58px;
}

.interested {
  font-size: 30px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 27px;
}

.hotel-search-offer {
  margin: 0;
  padding-top: 5px;
  font-size: 14px;
  line-height: 24px;
}

/* Hotel search form */

.hotel-search-form {
  width: 568px;
  height: 481px;
  margin: 43px auto;
  margin-bottom: -395px;
  background-color: var(--basic-white);
  box-shadow: 0 7px 15px var(--box-shadow-color);
  z-index: 1;
  position: relative;
}

.form-title {
  padding-top: 30px;
  color: var(--basic-white)
}

label {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
}

/* Делаем форму на гридах */

.hotel-search-form-main-content {
  display: grid;
  grid-template-columns: 55px 112px 114px 118px 114px 55px;
  grid-template-rows: 55px 38px 29px 38px 30px 38px 54px 58px 55px;
  align-items: baseline;
}

label.arrival-date {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

input.arrival-date {
  grid-column: 3 / 6;
  grid-row: 2 / 3;
}

label.departure-date {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

input.departure-date {
  grid-column: 3 / 6;
  grid-row: 4 / 5;
}

label.number-of-adults {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}

input.number-of-adults {
  grid-column: 3 / 4;
  grid-row: 6 / 7;
  text-align: center;
}

label.number-of-children {
  grid-column: 4 / 5;
  grid-row: 6 / 7;
}

input.number-of-children {
  grid-column: 5 / 6;
  grid-row: 6 / 7;
  text-align: center;
}

.hotel-search-form-main-content input{
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 5px 5px 5px 15px;
  color: var(--basic-black);
  background-color: var(--lighter-gray);
  border: none;
}

.hotel-search-form-main-content input:hover {
  background-color: var(--darker-gray);
}

.hotel-search-form-main-content input:active {
  background-color: var(--basic-white);
  outline: 2px solid var(--inner-shadow-gray);
  outline-offset: -2px;
}

/* Воспользуемся хитростью для смены цвета замещающего текста в браузерах Safari и Chrome */
input::-webkit-input-placeholder {
  color: var(--basic-black);
}

input.main-page-form {
  background-color: var(--lighter-gray);
}

.map {
  height: 593px;
}
/* Делаем как в демке: Стилизуем кнопки. Используем значение inherit для свойства font для переопределения значения по умолчанию. Выровняем текст по центру, укажем цвет и размер, а также фон. Отключим стили для обводки. */

/* Buttons */

/* Вынесем в класс button самые общие свойства кнопок */
.button {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.button.form-top-search-submit {
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-brown);
}

.button.form-top-search-submit:hover {
  background-color: var(--darker-brown);
}

.button.form-top-search-submit:active {
  background-color: var(--the-darkest-brown);
  color: var(--basic-white-opacity-03);
}

.button.form-bottom-search-submit {
  width: 458px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--special-blue);
  grid-column: 2 / -1;
  grid-row: 8 / 9;
}

.button.form-bottom-search-submit:hover {
  background-color: var(--darker-blue);
}

.button.form-bottom-search-submit:active {
  background-color: var(--the-darkest-blue);
  color: var(--basic-white-opacity-03);
}

/* Убираем рамку(возможную) в состоянии focus */

.button.form-top-search-submit:focus,
.button.form-bottom-search-submit:focus {
  border: none;
}

.adult-number-decrease,
.adult-number-increase,
.children-number-decrease,
.children-number-increase {
  background-color: transparent;
}

button.filter-submit {
  width: 137px;
  height: 36px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
}

button.filter-submit:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);

}

/* Footer */

.footer-block {
  display: grid;
  width: 1200px;
  height: 120px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--basic-white-opacity-09);
}

.footer-contacts,
.footer-social,
.copyright-wrapper {
  height: 120px;
}

.footer-contacts {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  padding-left: 75px;
}

.footer-contacts p,
.copyright-wrapper p {
  margin: 0;
  padding: 0;
}

p.footer-contacts-hashtag {
  margin-top: 24px;
}

p.footer-contacts-hashtag,
p.footer-contacts-phone {
  margin-bottom: 9px;
}

.footer-contacts-left,
.footer-social-list a {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 36px;
  margin-left: 10px;
}

.footer-social-list li {
  margin-right: 6px;
  list-style: none;
}

.copyright-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

p.footer-copyright {
  height: 41px;
  line-height: 26px;
  margin-top: 50px;
  padding: 0;
  padding-left: 15px;
  text-align: right;
}

.copyright-logo {
  margin-top: 38px;
  padding: 0;
  padding-left: 10px;
  text-align: left;
}
/* С ГЛАВНОЙ ЗАКОНЧИЛИ!!! */


/* Сюда допишем стилизацию страницы hotels.html */

.hotels-page-body {
  height: 933px;
  min-height: 100%;
}

/* Сначала сделаем общий грид. В нём разместим хедер, мэйн и футер */

.hotels-content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 56px 757px 120px;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
}

/* Теперь займёмся локальными гридами:
   Сделаем грид для формы с чекбоксами */

.filter {
  display: grid;
  grid-template-columns: 72px 147px 107px 147px 337px 317px 73px;
  grid-template-rows: 48px 47px 46px 45px 31px;
}

.infrastructure-fields-block {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  padding: 0;
  margin: 0;
  border: none;
}

.accommodation-fields-block {
  grid-column: 4 / 5;
  grid-row: 1 / -1;
  padding: 0;
  margin: 0;
  border: none;
}

.range-selector-and-submit {
  grid-column: 6 / 7;
  grid-row: 1 / -1;
  padding: 0;
  margin: 0;
  border: none;
}

/* Делаем отдельные гриды для филдсэта "Инфраструктура" и "Размещение", т.к. они геометрически идентичны */

.infrastructure-fields-block,
.accommodation-fields-block {
  display: grid;
  /* grid-template-rows: 48px 169px; */
}

.infrastructure-legend,
.accommodation-legend,
.range-legend{
  padding-top: 27px;
}

li.filter-option {
  padding-top: 30px;
}

.infrastructure-fields,
.accommodation-fields {
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 47px 46px 45px 31px;
  vertical-align: bottom;
}

.infrastructure-fields li:nth-child(1),
.accommodation-fields li:nth-child(1){
  grid-row: 1 / 2;
}

.infrastructure-fields li:nth-child(2),
.accommodation-fields li:nth-child(2){
  grid-row: 2 / 3;
}

.infrastructure-fields li:nth-child(3),
.accommodation-fields li:nth-child(3){
  grid-row: 3 / 4;
}

/* Делаем грид для филдсэта "Стоимость в сутки". P.S. Да, я знаю, что гриды с филдсэтами не дружат, поэтому временно пойду на небольшую хитрость: запихну в филдсэт div, с которым и поработаю */

.price-output-box {
  display: grid;
  grid-template-rows: 47px 46px 45px 31px;
  align-items: center;
}

.price-output {
  grid-row: 1 / 2;
}

.range-input {
  grid-row: 2 / 3;
}

.filter-submit {
  grid-row: 3 / 4;
  justify-self: center;
}

.infrastructure-legend,
.accommodation-legend,
.range-selector-and-submit {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.range-selector-and-submit legend {
  font-size: 16px;
  line-height: 21px;
}

.filter-option label{
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  padding-left: 20px;
}

.price-output {
  border: 2px solid var(--basic-white);
  display: flex;
  justify-content: space-around;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.hotels-filter {
  width: 1200px;
  height: 217px;
  background-color: var(--special-blue);
  background: url("../img/filter-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.infrastructure-fields,
.accommodation-fields {
  border: none;
  text-align: left;
}
/* Убираем буллеты у элементов списков */

.infrastructure-fields li,
.accommodation-fields li{
  list-style: none;
}

/* Теперь сделаем общий грид для секции, в которой есть элементы управления сортировкой полученных результатов поиска гостиниц, а также сам список гостиниц */
.hotels-found {
  display: grid;
  grid-template-rows: 86px 454px;
}

.sorting-controls-container {
  grid-row: 1 / 2;
}

.hotels-list {
  grid-row: 2 / 3;
}

/* Делаем свой грид для элементов управления сортировкой результатов поиска */
.sorting-controls-container {
  display: grid;
  grid-template-columns: 72px 147px 92px 89px 81px 109px 220px 317px 73px;
  grid-template-rows: 86px;
  align-items: center;
  justify-items: right;
}

.found {
  grid-column: 2 / 3;
  margin: 0;
  padding: 0;
  justify-self: left;
}

.sort-by {
  grid-column: 3 / 4;
  margin: 0;
  padding: 0;
}


.by-price {
  grid-column: 4 / 5;
  margin: 0;
  padding: 0;
}

.by-type {
  grid-column: 5 / 6;
  margin: 0;
  padding: 0;
}

.by-rating {
  grid-column: 6 / 7;
  margin: 0;
  padding: 0;
}

.ascending-sort,
.descending-sort {
  width: 13px;
  height: 12px;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
}

.ascending-sort {
  grid-column: 8 / 9;
  grid-row: 1 / 2;
  margin-right: 23px;
}

.descending-sort {
  grid-column: 8 / 9;
  grid-row: 1 / 2;
}

.hotels-list li{
  list-style: none;
}

p.found {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

p.sort-by,
button.sort-by-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  color: var(--basic-black);
}

button.sort-by-text {
  color: var(--basic-black-opacity-03);
  border-bottom: 1px dashed #81B3D2;
}

button.sort-by-text:hover {
  color: var(--special-blue);
  border-bottom: 1px dashed #81B3D2;
}

button.sort-by-text:active {
  color: var(--basic-black);
  border-bottom: none;
}

/* Теперь сделаем грид для списка гостиниц */

.hotels-list {
  display: grid;
  grid-template-rows: 150px 150px 150px;
}

.hotels-list li:nth-child(1) {
  grid-row: 1 / 2;
}

.hotels-list li:nth-child(2) {
  grid-row: 2 / 3;
}

.hotels-list li:nth-child(3) {
  grid-row: 3 / 4;
}

/* Теперь сделаем каждый пункт списка грид-контейнером */

.hotels-list li:nth-child(1),
.hotels-list li:nth-child(2),
.hotels-list li:nth-child(3) {
  display: grid;
  grid-template-columns: 73px 135px 29px 110px 6px 142px 522px 110px 73px;
  grid-template-rows: 51px 28px 42px 30px;
  text-align: left;
  align-items: flex-end;
}

.hotel-photo {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}

.hotel-link {
  grid-column: 4 / 7;
  grid-row: 1 / 2;
}

.accommodation-type,
.hotel-button.details{
  grid-column: 4 / 5;
  margin: 0;
  padding: 0;
}

.accommodation-type {
  grid-row: 2 / 3;
}

.hotel-button.details {
  grid-row: 3 / 4;
}

.price-from,
.hotel-button.reserve {
  grid-column: 6 / 7;
  margin: 0;
  padding: 0;
}

.price-from {
  grid-row: 2 / 3;
}

.hotel-button.reserve {
  grid-row: 3 / 4;
}

.rating,
.rating-star-wrapper {
  grid-column: 8 / 9;
  margin: 0;
  padding: 0;
}

.rating-star-wrapper {
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-end;
}

.rating {
  grid-row: 3 / 4;
  text-align: center;
}

h3.hotel-name {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.hotel-link {
  color: var(--basic-black);
}

.hotel-link:hover {
  color: var(--special-blue);
}

.hotel-link:active {
  color: var(--basic-black-opacity-03);
}

.accommodation-type,
.price-from,
.rating {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-dark);
}

.rating-wrapper {
  background-color: var(--lighter-gray);
  padding: 5px 12px;
  color: var(--gray-for-rating);
}

.hotel-button {
  height: 27px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
}

.hotel-button.details {
  width: 110px;
  background-color: var(--special-blue);
  padding: 0;
}

.hotel-button.details:hover {
  background-color: var(--darker-blue);
}

.hotel-button.details:active {
  background-color: var(--the-darkest-blue);
  color: var(--basic-white-opacity-03);
}

.hotel-button.reserve {
  width: 142px;
  background-color: var(--basic-brown);
  padding: 0;
}

.hotel-button.reserve:hover {
  background-color: var(--darker-brown);
}

.hotel-button.reserve:active {
  background-color: var(--the-darkest-brown);
  color: var(--basic-white-opacity-03);
}


/* Other */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
